{% extends '@Wcm/Layout/layout.html.twig' %}


{% block content %}
    {{ include('@Wcm/_shared/_table_responsive.html.twig',
        {
            'entity': products,
            'entity_title': 'product',
            'fields': {
                1: {
                    title: 'id'
                },
                2: {
                    title: 'Title'
                },
                3: {
                    title: 'Categories'
                },
                4: {
                    title: 'Price'
                }
            }
        }
    ) }}
{% endblock %}
{% block content_inside_footer %}
    <a class="btn btn-primary ml-auto" href="{{ path('wcm_product_add') }}">Ajouter</a>
{% endblock %}

