{% extends '@Wcm/Layout/shared/page_base.html.twig' %}

{% block title %}new product{% endblock %}
{% block subtitle %}{% endblock %}
{% block content %}
    {{ include('@Wcm/product/_form.html.twig') }}

    <a href="{{ path('product_index') }}">back to list</a>
{% endblock %}
