{% extends '@Wcm/Layout/layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class=" col-lg-5 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    {% if error %}
                                        <div class="alert alert-danger">
                                            {{ error.messageKey }}
                                        </div>
                                    {% endif %}
                                    <form class="user" method="post" action="{{ path('app_login') }}">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                   id="username" name="_username" aria-describedby="emailHelp"
                                                   placeholder="Enter Email Address...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                   id="password" name="_password" placeholder="Password">
                                        </div>
                                        <input type="hidden" name="_csrf_token"
                                               value="{{ csrf_token('authenticate') }}"/>
                                        <hr>
                                        <input type="submit" value="Se connecter"
                                               class="btn btn-primary btn-user btn-block">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

