{% extends '@Wcm/Layout/shared/page_base.html.twig' %}

{% block title %}edit template{% endblock %}
{% block subtitle %}{% endblock %}
{% block content %}
    {{ include('@Wcm/_shared/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('template_index') }}">back to list</a>

    {{ include('@Wcm/template/_delete_form.html.twig') }}
{% endblock %}


