{% extends '@Wcm/Layout/layout.html.twig' %}


{% block content %}
    {{ include('@Wcm/_shared/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('template_index') }}">back to list</a>
    {{ include('@Wcm/_shared/_delete_form.html.twig', {'route': 'template_delete', 'id': template.id}) }}
{% endblock %}


