
{% extends '@Wcm/Layout/shared/page_base.html.twig' %}

{% block title %}new template{% endblock %}
{% block subtitle %}{% endblock %}
{% block content %}
    {{ include('@Wcm/_shared/_form.html.twig') }}

    <a href="{{ path('template_index') }}">back to list</a>
{% endblock %}


