
{% extends '@Wcm/Layout/layout.html.twig' %}

{% block content %}
    {{ include('@Wcm/_shared/_form.html.twig') }}
    <a href="{{ path('block_index') }}">{{ 'wcm.actions.return'|trans({}, 'wcm_bundle') }}</a>
{% endblock %}
