
{% extends '@Wcm/Layout/shared/page_base.html.twig' %}

{% block title %}New Block{% endblock %}
{% block subtitle %}New Block{% endblock %}
{% block content %}
    {{ include('@Wcm/_shared/_form.html.twig') }}

    <a href="{{ path('block_index') }}">retour à la liste</a>

{% endblock %}
