{% extends '@Wcm/Layout/layout.html.twig' %}


{% block content %}
    {{ include('@Wcm/_shared/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('page_index') }}">back to list</a>
    {{ include('@Wcm/_shared/_delete_form.html.twig', {'route': 'page_delete', 'id': page.id}) }}
{% endblock %}

