{% extends '@Wcm/Layout/layout.html.twig' %}

{% block content %}
    {{ include('@Wcm/_shared/_table_responsive.html.twig',
        {
            'entity': pages,
            'entity_title': 'page',
            'fields': {
            1: {
                title: 'id'
            },
            2: {
                title: 'Title'
            },
            3: {
                title: 'Locale'
            },
            4: {
                title: 'Slug'
            }
        }
        }
    ) }}
{% endblock %}

{% block content_inside_footer %}
    <a class="btn btn-primary ml-auto" href="{{ path('wcm_page_add') }}">Ajouter</a>

{% endblock %}
