{% extends '@Wcm/Layout/shared/page_base.html.twig' %}

{% block title %}Create new Page{% endblock %}
{% block subtitle %}{% endblock %}
{% block content %}
    {{ include('@Wcm/page/_form.html.twig') }}

    <a href="{{ path('page_index') }}">back to list</a>
{% endblock %}




