{% extends '@Wcm/Layout/layout.html.twig' %}


{% block content %}
    {{ include('@Wcm/_shared/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_wcm_users') }}">back to list</a>

    {{ include('@Wcm/_shared/_delete_form.html.twig', {'route': 'app_wcm_delete_user', 'id': user.id}) }}
{% endblock %}

